#landing-section {
    display: flex;
    gap: 5%;
    margin-top: 100px;
    width: 100%;
    align-items: center;
}

#logo {
    height: auto;
    width: 40%;
}

.principles {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}

.principle-img-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.principle-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: auto;
}

.principle-img-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contrast-img {
    background-image: url("../media/contrast.png")
}

#repetition-img {
    background-image: url("../media/repetition.png")
}

#alignment-img {
    background-image: url("../media/alignment.png")
}

#proximity-img {
    background-image: url("../media/proximity.png")
}

@media screen and (min-width: 1200px) {
    .principle-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .principle-img-text {
        width: 600px;
    }

    .principle-img-text p {
        padding-left: 100px;
    }

    .principle-vector {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    #landing-section {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    #logo {
        width: 100%;
    }

    .principle-img-text {
        align-items: center;
        text-align: center;
    }

    .principle-vector {
        display: none;
    }
}