.principle-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.principle-text {
    display: flex;
    flex-direction: column;
}

.principle-examples {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 40px;
    justify-content: space-between;
    align-items: center;

}

.principle-example {
    display: flex;
    min-height: 260px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    background: #D3E0E8;
    border-radius: 10px;
}

.principle-example:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: default;
}

.principle-example-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#principle-clicker:hover {
    cursor: pointer;
}

#contrast-example-image-good {
    display: flex;
    height: 180px;
}

#contrast-example-image-bad {
    display: none;
    height: 180px;
}