@import url("./fonts.css");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./index.css");
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Raleway";
    font-size: 1.1rem;
    background-color: #F0FBFF;
    color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    font-size: 64px;
    font-weight: 200;
    margin: 20px 0;
}

p {
    font-size: 18px;
    font-weight: 100;
}

/* css for togglable examples */
div#accessiblity.off {
    background-color: red;
}

div#accessiblity.on {
    background-color: green;
}

div#contrast.off {
    background-color: red;
}

div#contrast.on {
    background-color: green;
}

div#repetition.off {
    background-color: red;
}

div#repetition.on {
    background-color: green;
}

div#alignment.off {
    background-color: red;
}

div#alignment.on {
    background-color: green;
}

div#proximity.off {
    background-color: red;
}

div#proximity.on {
    background-color: green;
}

.request {
    margin-bottom: 20px;
    border-bottom: black solid 1px;
}

.success {
    text-align: center;
    background-color: green;
}

.alert {
    text-align: center;
    background-color: red;
}