@import url("./fonts.css");
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Raleway";
    font-size: 1.1rem;
    background-color: #F0FBFF;
    color: #000000;
    width: 100%;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 200;
    margin: 20px 0;
}

p {
    font-size: 18px;
    font-weight: 100;
}

#landing-section {
    display: flex;
    gap: 5%;
    margin-top: 100px;
    width: 100%;
}

#logo {
    height: max-content;
    width: 40%;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin: 0 auto;
    background-color: rgb(156, 173, 188);
    padding: 30px 0;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

nav ul li a:hover {
    color: #22223B;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* css for togglable examples */
div#accessiblity.off {
    background-color: red;
}

div#accessiblity.on {
    background-color: green;
}

div#contrast.off {
    background-color: red;
}

div#contrast.on {
    background-color: green;
}

div#repetition.off {
    background-color: red;
}

div#repetition.on {
    background-color: green;
}

div#alignment.off {
    background-color: red;
}

div#alignment.on {
    background-color: green;
}

div#proximity.off {
    background-color: red;
}

div#proximity.on {
    background-color: green;
}