@import url("./fonts.css");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./index.css");
body {
    font-family: "Raleway";
    background-color: #F0FBFF;
    color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 100;
}

h1 {
    font-size: 64px;
    font-weight: 200;
    margin: 20px 0;
}

h2 {
    font-size: 36px;
    font-weight: 200;
    margin: 20px 0;
}

h3 {
    font-size: 24px;
    font-weight: 200;
    margin: 20px 0;
}

button {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 100;
}

hr {
    margin: 20px 0;
}

.refLink {
    margin-top: 1em;
    margin-bottom: 1em;
}

.requestsHeader {
    display: flex;
    justify-content: space-around;
}

.request {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #e3eaf1;
}
.requestSmall {
    display: none;
}

@media screen and (max-width: 1200px) {
    .requestsHeader {
        display: none;
    }
    .request {
        justify-content: start;
        flex-direction: column;
    }
    .requestSmall {
        display: block;
    }
    .request h3{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }


}

.success {
    text-align: center;
    background-color: green;
}

.alert {
    text-align: center;
    background-color: red;
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-question {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #e3eaf1;;
}

.quiz-question ul {
    list-style-type: none;
    padding: 0;
    font-weight: 100;
}

.quiz-question ul li {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.quiz-question ul li label {
    cursor: pointer;
}

#quiz-submit {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

.quiz-offer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.quiz-offer-button {
    padding: 20px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;

}

.contactContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.contactContainer form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #007bff;
}

#contact-submit {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

#resources-list, #citations-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
