.topNav {
    margin-bottom: 2em;
    background-color: #bcbcbc;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    background-color: #dbdbdb;
    color: #000000;
}

.topNav > a {
    padding: 5px;
    width: 200px;
    color: #FFFFFF;
    background-color: #979797;
    border-radius: 3px;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none; /* Gets rid of underline for <a> tags */
    font-weight: bold;
}

.topNav > a:hover {
    background-color: #858585;
    transform: scale(1.05);
}